API_PORT=4000
WEB_PORT=5173

DB_HOST=db
DB_PORT=5432
DB_EXPOSED_PORT=5432
DB_NAME=ptcrud
DB_USER=postgres
DB_PASSWORD=root
DB_SYNC_ALTER=true

CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:4000/api
